@charset "UTF-8";
/* 回答はここから */
.list{
  display: flex;
  justify-content: center;
}

ul li:not(:only-child){
  margin-top: 0;
}


.list-card{
list-style: none;
width: 200px;
margin: 60px;
outline: 10px solid #655;
box-shadow: 0 0 0 6px #655;
border-radius: 13px;
padding: 10px;
background-color: #d2b48c;
}

.list-card:not(:first-child){
  margin-right: 0;
  margin-bottom: 0;
}

.list-card:not(:last-child){
  margin-left: 0;
  margin-bottom: 0;
}
